# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=ledgerly_db
DB_USER=ledgerly
DB_PASSWORD=ledgerly_local_sec_pass

# Local vLLM Inference Engine
VLLM_BASE_URL=http://host.containers.internal:8000/v1
VLLM_MODEL_NAME=Qwen/Qwen2.5-3B-Instruct-AWQ